{%extends 'layout.html'%}
<div class='container'>

{%block body%}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/1dashboard.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='1dashboard.js') }}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        //Build an array containing Customer records.
       

        //Add the data rows.
        for (var i = 0; i < customers.length; i++) {
            AddRow(customers[i][0], customers[i][1]);
        }
    });

    function Add() {
        AddRow($("#itemname").val(), $("#price").val(), $("#quantity").val(), $("#total").val(), $("#comment").val());
        $("#itemname").val("");
        $("#price").val("");
        $("#quantity").val("");
        $("#total").val("");
        $("#comment").val("");
    };

    function AddRow(itemname, price, quantity, total, comment) {
        //Get the reference of the Table's TBODY element.
        var tBody = $("#tblCustomers > TBODY")[0];

        //Add Row.
        row = tBody.insertRow(-1);

        //Add Name cell.
        var cell = $(row.insertCell(-1));
        cell.html(itemname);

        
        cell = $(row.insertCell(-1));
        cell.html(price);

        cell = $(row.insertCell(-1));
        cell.html(quantity);

        cell = $(row.insertCell(-1));
        cell.html(total);

        cell = $(row.insertCell(-1));
        cell.html(comment);

        //Add Button cell.
        cell = $(row.insertCell(-1));
        var btnRemove = $("<input />");
        btnRemove.attr("type", "button");
        btnRemove.attr("onclick", "Remove(this);");
        btnRemove.val("Remove");
        cell.append(btnRemove);
    };

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Do you want to delete: " + name)) {

            //Get the reference of the Table.
            var table = $("#tblCustomers")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };
    function calc() 
        {
        var price = document.getElementById("price").value;
        var noTickets = document.getElementById("quantity").value;
        var total = parseFloat(price) * noTickets
        if (!isNaN(total))
            document.getElementById("total").value = total
        }
    function edit() {
        document.getElementById("total").readOnly = true;
    }
</script>
<style>


body{
    background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
}
h4{
    text-align: center;
    color: red;
}  
#budget{
    text-align: center;
}
#fav{
  text-align: center;
  color: blue;
}
</style>
<script>
function validateForm() {
    var x = document.forms["input"]["pick"].value;
    if (x == "") {
      alert("Please Choose a date first!");
      return false;
    };
    var y = document.forms["input"]["location"].value;
    if (y == "") {
      alert("Please Choose a location first!");
      return false;
    };
    var z = document.forms["input"]["itemname"].value;
    if (z == "") {
      alert("Item name can't be empty!");
      return false;
    };
    var a = document.forms["input"]["price"].value;
    if (a == "") {
      alert("Please enter item price!");
      return false;
    };
    var b = document.forms["input"]["quant"].value;
    if (b == "") {
      alert("Opps! you forgot to enter the quantity");
      return false;
    }
  } 
</script>










<div>

<h4>{{mesg_warn}}</h4>
{{session['today']}}
<h5 id='budget'>Your Monthly Budget is {{session['budget']}} Rs. Total Spent {{session['spent']}} Rs. and  {{session['money_left']}} Rs. left in your pocket </h5>
<hr/>
<h5 id="fav">You bought "{{session['item']}}" most frequently during last 7 days and your all time favourite item is "{{session['allitem']}}"</h5>
<hr/>


<form name="input" id='form-wrapper' method="POST" onsubmit="return validateForm()" action=''>
       
    <span>
    <meta charset="utf-8"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/DateTimePicker.css') }}">

    
      
    

    <div id="dtBox"> </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/Gruntfile.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/DateTimePicker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/DateTimePicker-i18n.js') }}"></script>

    <script>
        $('#dtBox').DateTimePicker({
          dateFormat: "yyyy-MM-dd",
          
        });
        
        
        

    </script>  

<div>
    &ensp;  
</div>
<input id="datepick" name="pick" type="text" placeholder="Select Date" data-field="date" readonly>
<input id="location" name="location" type="text" Placeholder="Select Location">
<div>
    &ensp;  
</div>

<table id="tblCustomers" cellpadding="0" cellspacing="0" border="1">
  <thead>
      <tr>
          <th>Item name</th>
          <th>price</th>
          <th>quantity</th>
          <th>total price</th>
          <th>Comment(optional)</th>
      </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
      <tr>
          <td><input type="text" name="itemname" id="itemname" ></td>
          <td><input type="number" name="price" id="price" oninput="calc()"></td>
          <td><input type="number" name="quant" id="quantity" oninput="calc()" ></td>
          <td><input type="number" name="total" id="total" onclick="edit()" ></td>
          <td><input type="text" name="comment" id="comment" ></td>
          
      </tr>
  </tfoot>
</table>
<div>
    &ensp;       
</div>
<input id="button" type='submit' class='btn btn-primary' value='Submit'>

</form> 
<div>
    &ensp;
    
</div>
<div>
    &ensp;
    
</div>
<div>
    &ensp;
    
</div>




<h3>Last 7 day's Expense History</h3>
    <meta charset="utf-8" />
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  
  {{res2}}
  <body>
    <center>
      
  
      <canvas id="chart" width="600" height="400"></canvas>
      <script>
        // bar chart data
        var barData = {
          labels : [
            {% for item in labels %}
              "{{ item }}",
            {% endfor %}
          ],
          datasets : [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve : false,
            data : [
          {% for item in values %}
                {{ item }},
              {% endfor %}]
            }
      ]
        }
        Chart.defaults.global.animationSteps = 50;
        Chart.defaults.global.tooltipYPadding = 16;
        Chart.defaults.global.tooltipCornerRadius = 0;
        Chart.defaults.global.tooltipTitleFontStyle = "normal";
        Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
        Chart.defaults.global.animationEasing = "easeOutBounce";
        Chart.defaults.global.responsive = false;
        Chart.defaults.global.scaleLineColor = "black";
        Chart.defaults.global.scaleFontSize = 16;
        // get bar chart canvas
        var mychart = document.getElementById("chart").getContext("2d");
        steps = 10
        max = {{ max }}
        // draw bar chart
        var LineChartDemo = new Chart(mychart).Line(barData, {
          scaleOverride: true,
          scaleSteps: steps,
          scaleStepWidth: Math.ceil(max / steps),
          scaleStartValue: 0,
          scaleShowVerticalLines: true,
          scaleShowGridLines : true,
          barShowStroke : true,
          scaleShowLabels: true,
          bezierCurve: false,
        });
      </script>
    </center>
  </body>







<div>
    &ensp;
    
</div>

<caption><h3>Today's Expenses | Total= {{res1}}</h3></caption>
<div>
        &ensp;
</div>
<table id="rec" class="table table-sm" >
        
    <th>
      
      <td>Place</td>
      <td>Item</td>
      <td>Quantity</td>
      <td>Price</td>
      
    </th>


    {% for row in datas %}
    <tr>
        <td>{{row[0]}}</td>
        
        <td>{{row['place']}}</td>
        <td>{{row['item']}}</td>
        <td>{{row['quantity']}}</td>
        <td>{{row['price']}}</td>
        
    </tr>
    {% endfor %}
  </table>

  <p align="right">
    <input type="button" class='btn btn-primary' onclick="window.location.href='/record'" value="View More" />
  </p>

</div>

{%endblock%}