{%extends 'layout.html'%}

{%block body%}


{% from "includes/_formhelper.html" import render_field%}
<style>
    #form-wrapper {     
        width: 400px;           
        height: 200px;          
        position: absolute;
        top: 40%;
        left: 47%;
        margin-top: -100px;     
        margin-left: -150px;    
    }
    body{
        background-color: lemonchiffon;
    }
    
    </style>


<form id='form-wrapper' method="POST" action=''>
    
    Please enter your registered  email
    
    <div class='form-group'>
        {{render_field(formforget.email, class_='form-control')}}
    </div>
    
    <p><input type='submit' class='btn btn-primary' value='Send reset Link'></p>
    
</form>
{%endblock%}