{%extends 'layout.html'%}

{%block body%}

<h1 class='text-center'>Login </h1>
{% from "includes/_formhelper.html" import render_field%}



<form method="POST" action=''>
    
    <div class='form-group'>
        {{render_field(formlogin.usernamelogin, class_='form-control')}}
    </div>
    <div class='form-group'>
        {{render_field(formlogin.passwordlogin, class_='form-control')}}
    </div>
    
    <p><input type='submit' class='btn btn-primary' value='Login'></p>
    <span id="passwordHelpBlock" classs="help-block"><a href="{{url_for('.forget_password')}}">Forgot password?</a></span>
</form>
{%endblock%}