{% extends 'layout.html' %}
{% block body%}
<div class="container">
  <div>
    &ensp;  
  </div>
  
    <h1 style:text-center>Your feedback is all at the same place :)</h1>
    <div>
      &ensp;  
    </div>
    <div>
      &ensp;  
    </div>
    <table class="table table-sm table-dark">

        <th>
          <td>Sent Message</td>
          <td>Received Message</td>
          
        </th>
    
    
        
        <tr>
            <td></td>
            <td>{{data}}</td>    
        
            <td>{{datas}}</td>    
        </tr>
        
      </table>
  </div>
  {% endblock %}