{%extends 'layout.html'%}

{%block body%}


{% from "includes/_formhelper.html" import render_field%}

<style>
#form-wrapper {     
    width: 400px;           
    height: 200px;          
    position: absolute;
    top: 40%;
    left: 47%;
    margin-top: -100px;     
    margin-left: -150px;    
}
body{
    background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
}

</style>


<form id='form-wrapper' method="POST" action=''>
    <h1 class='text-center'>Response to feedback </h1>
    
    <div class='form-group'>
        {{render_field(formreply.username, class_='form-control')}}
    </div>
    <div class='form-group'>
        {{render_field(formreply.message, class_='form-control')}}
    </div>
    
    <p><input type='submit' class='btn btn-primary' value='Send'>
    
</form>

{%endblock%}
