{%extends 'layout.html'%}
{%block body%}
<style>

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  </style>
  <style>
  .user {
    position: absolute;
    top: 40%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  </style>













    <img src="{{profile_image}}" alt="Avatar" class="avatar">
    <div class="user"><h4>{{ session['username'] }}</h4></div>

    {% from "includes/_formhelper.html" import render_field%}
    <form method="POST" action='' enctype="multipart/form-data">
        
        <div class='form-group'>
            {{render_field(picprofile.picture, class_='form-control')}}
        </div>
        <p><input type='submit' class='btn btn-primary' value='Submit'></p>
    </form>

    
{%endblock%}